Title: About
Image: /images/bordeaux_1.jpg
---
<p>Hi, my name is Alexandre Nedelec. I am a software developer living in Bordeaux.</p>

<p>I graduated from the Engineer School <a href=https://enseirb-matmeca.bordeaux-inp.fr/fr>ENSEIRB-MATMECA</a> in Computer Sciences a few years ago. I am currently working for an IT consulting company specialized in Microsoft Technologies.</p>
<p>I am a .NET and Azure enthusiast, primarily coding in C# but I like to discover other languages and technologies too. I want to keep learning and always become a better developer.</p>

<p>This blog and its posts are a good way to remind me of things I have learned, solutions and workarounds to some coding issues I have encountered and helpful tools I have used. This blog is also a place to write about things I am interested in and if it can make some people learn something new or help them solve a problem, that's for the better.</p>

<p>This blog was generated using <a href="https://wyam.io">Wyam</a> a really nice open source tool that I can only suggest you to have a look at.</p>
@Html.Partial("_social-links")